body {
  margin: 0px;
}

#left-bar {
  width: 150px;
  float: left;
  position: fixed;
  height: 600px;
  text-align: center;
  background-color: #DAE2F5;
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0px;
  padding: 0px;
}

#left-bar h4 {
  color: #95A4A7;
  font-size: 14px;
  padding: 1px;
  margin: 8px;
  text-decoration: overline underline;
}

#left-bar ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}



#content {
  margin-left: 150px;
  float: right;
  padding: 10px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

#top-banner {
  width: 90%;
  background-color: #F5F5F5;
  color: #4B5069;
}

.row {
  width: 100%;
}

.column {
  display: inline-block;
  width: 300px;
  background-color: #BAC9D4;
  text-align: center;
  margin: 5px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  }

a:link {
  color: #000000;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  text-decoration: none;
}

a:visited {

}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: underline;
}

#content a:hover {
  background-color: darkred;
}
