body {
  margin: 0px;
}

#left-bar {
  width: 150px;
  float: left;
  position: fixed;
  height: 600px;
  text-align: center;
  background-color: #DAE2F5;
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0px;
  padding: 0px;
}

#left-bar h4 {
  color: #95A4A7;
  font-size: 15px;
  padding: 1px;
  margin: 8px;
  text-decoration: underline;
}

#left-bar ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#content {
  margin-left: 150px;
  padding: 10px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

#top-banner {
  width: 90%;
  background-color: #F5F5F5;
  background-image: url('../img/jellyfish-banner.jpg');
  color: #4B5069;
  background-repeat: no-repeat;
}

#content .introduction {
  width: 95%;
  font-size: 15px;
}

.row {
  width: 100%;
}

.col-lg-4 {
  display: inline-block;
  width: 300px;
  background-color: #BAC9D4;
  text-align: center;
  vertical-align: top;
  margin: 5px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #FFFFFF;
  border-style: solid;
  border-color: #627AA3;
  }

  .col-lg-4:hover {
    background-color: #A8B9C6;
  }

  .col-lg-4 h4 {
    font-size: 16px;
    text-decoration: underline;
  }

figure img {
  width: 100%;
  display: block;
  margin: auto;
}

  figcaption {
    display: block;
    font-size: 11px;
  }

a:link {
  color: #000000;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: underline;
}

#content a:hover {
  background-color: darkred;
}

#designer {
  color: #AECDD5;
  font-size: 16px;
  display: inline;
}

#designer:hover {
  color: #4B5069;
}

.panel {
  width: 90%;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #5F5491;
  background-color: #F5F5F5;
}

.panel:hover {
  background-color: #E9EBEF;
}

.introduction img {
  max-height: 300px;
}

@media screen and (max-width: 786px) {
  #content {
    background-color: #B1B9C1;
  }
}
